<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="failtestscripts.IAnnotationExample"/>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="4" name="E:/Repo/demo/Maven730AutomationProject">
        <classes>
            <class name="failtestscripts.FailScriptsExecution"/>
        </classes>
    </test>
</suite>